@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply font-pacifico;
    }
* {
    --color-base: #ecfff6;
    --color-base-text: #3f4c46;
}
/* GitHub (Default) */
:root {
  --color-primary: #30a14e;
  --color-primary-text: #ffffff;
  --color-primary-hover: #216e39;
  --color-primary-hover-text: #ffffff;
  --color-primary-active: #40c463;
  --color-primary-active-text: #ffffff;
  --color-primary-disabled: #ebedf0;
  --color-primary-disabled-text: #9be9a8;
  --color-primary-background: #ffffff;
  --color-primary-background-text: #3f4c46;
  --color-level-0: #ebedf0;
  --color-level-1: #9be9a8;
  --color-level-2: #40c463;
  --color-level-3: #30a14e;
  --color-level-4: #216e39;
}
  
  /* GitHub Dark */
  .custom-github-dark {
    --color-primary: #26a641;
    --color-primary-text: #2d333b;
    --color-primary-hover: #30a14e;
    --color-primary-hover-text: #ffffff;
    --color-primary-active: #40c463;
    --color-primary-active-text: #ffffff;
    --color-primary-disabled: #2d333b;
    --color-primary-disabled-text: #9be9a8;
    --color-primary-background: #22272e;
    --color-primary-background-text: #adbac7;
    --color-level-0: #55595f;
    --color-level-1: #196f44;
    --color-level-2: #1f8f53;
    --color-level-3: #38b553;
    --color-level-4: #4fed6a;
  }

  /* Winter */
  .custom-winter {
    --color-primary: #9cd6f7; /* 薄い水色 */
    --color-primary-text: #ffffff; /* 白 */
    --color-primary-hover: #5eb3e6; /* 中間の青色 */
    --color-primary-hover-text: #ffffff; /* 白 */
    --color-primary-active: #2a83c1; /* 濃い青色 */
    --color-primary-active-text: #ffffff; /* 白 */
    --color-primary-disabled: #ebedf0; /* 淡いグレー */
    --color-primary-disabled-text: #9cd6f7; /* 薄い水色 */
    --color-primary-background: #ffffff; /* 白 */
    --color-primary-background-text: #3f4c46; /* 濃いグレー */
    --color-level-0: #e7effc; /* 淡いグレー */
    --color-level-1: #c2e1ec; /* 非常に薄い水色 */
    --color-level-2: #9cd6f7; /* 薄い水色 */
    --color-level-3: #5eb3e6; /* 中間の青色 */
    --color-level-4: #004c8c; /* 濃い青色 */
  }


  /* Autumn */
  .custom-autumn {
    --color-primary: #f7b25c; /* 濃いオレンジ */
    --color-primary-text: #ffffff; /* 白 */
    --color-primary-hover: #f59e32; /* 中間のオレンジ */
    --color-primary-hover-text: #ffffff; /* 白 */
    --color-primary-active: #d97b07; /* 濃い茶色 */
    --color-primary-active-text: #ffffff; /* 白 */
    --color-primary-disabled: #ebedf0; /* 淡いグレー */
    --color-primary-disabled-text: #f7b25c; /* 濃いオレンジ */
    --color-primary-background: #ffffff; /* 白 */
    --color-primary-background-text: #3f4c46; /* 濃いグレー */
    --color-level-0: #faf5ec; /* 淡いグレー */
    --color-level-1: #ffdead; /* 非常に薄いオレンジ */
    --color-level-2: #f7b25c; /* 濃いオレンジ */
    --color-level-3: #f59e32; /* 中間のオレンジ */
    --color-level-4: #8b4513; /* 茶色 */
  }

  /* Summer */
  .custom-summer {
    --color-primary: #ffdc35; /* 明るい黄色 */
    --color-primary-text: #3f4c46; /* 濃いグレー */
    --color-primary-hover: #ffd500; /* 中間の黄色 */
    --color-primary-hover-text: #3f4c46; /* 濃いグレー */
    --color-primary-active: #ffc800; /* 濃い黄色 */
    --color-primary-active-text: #3f4c46; /* 濃いグレー */
    --color-primary-disabled: #ebedf0; /* 淡いグレー */
    --color-primary-disabled-text: #ffdc35; /* 明るい黄色 */
    --color-primary-background: #ffffff; /* 白 */
    --color-primary-background-text: #3f4c46; /* 濃いグレー */
    --color-level-0: #fbf6ea; /* 淡いグレー */
    --color-level-1: #d6f7ff; /* 非常に薄い水色 */
    --color-level-2: #ffdc35; /* 明るい黄色 */
    --color-level-3: #ffd500; /* 中間の黄色 */
    --color-level-4: #0a69da; /* 青色 */
  }

  /* Spring */
  .custom-spring {
    --color-primary: #ffb2dc; /* ピンク */
    --color-primary-text: #ffffff; /* 白 */
    --color-primary-hover: #ff82c2; /* 中間のピンク */
    --color-primary-hover-text: #ffffff; /* 白 */
    --color-primary-active: #ff3c93; /* 濃いピンク */
    --color-primary-active-text: #ffffff; /* 白 */
    --color-primary-disabled: #ebedf0; /* 淡いグレー */
    --color-primary-disabled-text: #ffb2dc; /* ピンク */
    --color-primary-background: #ffffff; /* 白 */
    --color-primary-background-text: #3f4c46; /* 濃いグレー */
    --color-level-0: #fbeffc; /* 淡いグレー */
    --color-level-1: #d1ffb2; /* 非常に薄い緑色 */
    --color-level-2: #ffb2dc; /* ピンク */
    --color-level-3: #ff82c2; /* 中間のピンク */
    --color-level-4: #38b553; /* 緑色 */
  }

}
